#projects-pagintation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
}

.projects-page {
  width: fit-content;
  margin-right: 20px;
  font-size: 28px;
  font-weight: normal;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.5s;
}

#projects-pagintation :last-child {
  margin-right: 0;
}

.current-projects-page,
.projects-page:hover {
  opacity: 1;
}

@media only screen and (max-width: 700px) {

  #projects-pagintation {
    justify-content: center;
  }

}

@media only screen and (max-width: 432px) {

  .projects-page {
    font-size: 24px;
  }

}
